.header {
  display: flex;
  align-items: center;
  height: 65px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.meme--logo {
  height: 50%;
  margin-right: 10px;
}

.meme--heading {
  margin-right: auto;
  font-size: 1.25rem;
}

.meme-title {
  font-size: 0.75rem;
  font-weight: 500;
}